{
  "env": {
    "client": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[path][name]_[local]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
