* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background: #333;
  padding: 16px;
}

.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
