.field {
  position: relative;
  padding-top: 8px;
}

.field + .field {
  margin-top: 16px;
}

.label {
  position: absolute;
  display: inline-block;
  background: white;
  font-size: 0.9rem;
  padding: 0 8px;
  z-index: 2;
  top: 0;
  left: 4px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  border: 1px solid #333;
  padding: 16px;
  border-radius: 2px;
  z-index: 1;
}
